


.home {
	position: relative;
	left: 20%;
}
.scores {
	position: relative;
	left: 40%;
}
.away {
	position: relative;
	left: 60%;
}
.row {
	margin-top: 5%;
}
.s3 {
	text-align: center;
	font-size: 1.2em;
}
